


header {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 10;
  padding-left: 30px;

}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;

}

header nav {
  padding-right: 40px;
  display: block;

}

nav span {
  display: inline-flex;
  padding: 30px 10px;

}

/*Over this is the header of the site */

/*This is the content of the containers*/

.content {
  border: 1px solid;
  display: flex;
  padding-top: 100px;
  justify-content: center;


}

.large-column {
  width: 600px;
  border: 1px solid;
}

.medium-column {
  width: 300px;
  border: 1px solid;
  margin-left:  40px;
  margin-right: 40px;


}

.small-column {
  width: 240px;
  border: 1px solid;

}


.stories {
  border: 1px solid;
}

.story {
  border: 1px solid;

}














.image-content-mother {
  border: 1px solid;

}

.image-content-earth {
  border: 1px solid

}

.image-content-cats {
  border: 1px solid;

}

.image-content-research {
  border: 1px solid;

}

.image-content-cookie {
  border: 1px solid;

}
