


header {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 10;
  padding-left: 30px;

}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;

}

header nav {
  padding-right: 40px;
  display: block;

}

nav span {
  display: inline-flex;
  padding: 20px 10px;


}













/*Over this is the header of the site */

/*This is the content of the containers*/
.maincontainer {
  border: 1px solid;
  display: inline-flex;
  padding-left: 300px;
  margin-top: 10px;
  margin-right: 650px;
}

.columnlarge {
  width: 630px;
  border: 2px solid;
  margin-top: 40px;
  margin-left: 20px;

}

.mother {
  border-bottom: 1px solid;
  padding: 0px;
}
.orca {
  border: 3px solid;
}

.earth {
  border: 2px solid;
}

.burger {
  border: 3px solid;
}

.research {
}

.nomed {
  border: 1px solid;
  padding: 20px;
}

/* here is colum medium */
.columnmedium {
width: 300px;
display: inline-flex;
flex-direction: column;
justify-content: flex-end;
padding-left: 50px;
margin-top: 40px;

}

.FBI {
  border: 2px solid;
  align-items: stretch;

}

.cats {
  border: 1px solid;
  align-items: stretch;


}

.brooklyn {
  border: 1px solid;
  align-items: stretch;



}

/*here is last column */
.columnsmall {
  width: 240px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-center;
  padding-left: 50px;
  margin-top: 70px;
  height: 450px;
}

.cookie {
  border: 1px solid;
  border-right: solid;

}

.newbites {
  border: 1px solid;
}

.no {
  border: 1px solid;
  padding: 102px;
}
